@font-face {
    font-family: 'twayfly';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayfly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
	font-family: 'twayfly';
}


body{
    margin: 0;
    padding: 0;
    background: url("../resources/99. img/back2.jpg");
    background-size: cover;
}


.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgba(9,9,52,.7);
}

.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

h2{
    margin: 0;
    /* padding: 10px 0 20px; */
    color: #00b92e;
    text-align: center;
    font-family:'Bangers', cursive;
    font-size: 3.5rem;
    letter-spacing: 5px;
}

.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

div.log {
	margin-top: 33px;
    padding: 15px;
}

.Join {
    text-align: right;
    margin-top: 12.5px;
}

.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginBox input[type="password"] {
	font-family: sans-serif;
}
::placeholder{
    color: rgba(255,255,255,.5);
}

.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: rgba(31,209,69);
    cursor: pointer;
    margin : 15px auto;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover{
    background: #e6e213;
    color: #262626;
}

.loginBox a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.loginBox a:hover {
	transition: all 0.2s ease 0s;
    color: #e6e213;
}