@charset "EUC-KR";
/*  */

@font-face {
    font-family: 'twayfly';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayfly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
	font-family: 'twayfly';
/* 	margin: 0 auto;
	padding: 0; */
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.25rem;
    line-height: 2.5rem;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2.3px;
    -webkit-text-stroke-color: #eee;
    cursor: pointer;
    margin: 3px;
}

.star-rating :checked ~ label {
    -webkit-text-fill-color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    -webkit-text-fill-color: #fff58c;
}

body{
	color: #eee;
	background-color: rgba(9,9,52);
}
.Card {
    background-color: #3d405b;
    color: #eee;
    /* width: 250px; */
    padding: 0px 22px;
    height: auto;
    box-shadow: 0 0 15px #000;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
textarea{
	margin: 0 auto;
	resize: none;
    border-radius: 5px;
}
label{
	color:#eee;
}
input{
	/* margin:10px; */
	font-size: 15px;
	background: none;
    border: none;
    outline: none;
    color: #eee;
}

div.sub {
	display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 7px;
    line-height: 2.5;
    cursor : pointer;
    /* margin-bottom: 15px; */
    /* margin: 0 0 15px auto; */
    margin-top:19px;

}

div.sub:hover {
	transition: all 0.2s ease 0s;
    background-color: rgba(31,209,69);
}

.line {
	border-bottom: 2px solid yellow;
	margin: 8px auto;
}


