@charset "EUC-KR";

@font-face {
    font-family: 'twayfly';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayfly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
	font-family: 'twayfly';
/* 	margin: 0 auto;
	padding: 0; */
}



.color{
	color : white;
}

#result3{
	color : #eee;    
	margin-top: 10px;
}
.div1{
	color: #eee;
}

.columns {
	background: rgba(9,9,52,0.35);
	text-align: center;
	display: flex;
	justify-content: center;
}

.columns figure {
   display: inline-block;
   /* border: 1px solid rgba(0, 0, 0, 0.2); */
   margin: 3px auto;
   padding: 10px;
   /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

.columns figure img {
   float: left;
   border: 2px solid #000;
   width: 200px;
   /* height: 100px; */
   /* text-align: center; */
   /* line-height: 100px; */
   /* font-weight: bold; */
}

.columns figure figcaption {
   color: rgba(31, 209, 69);
   border-top: 2px solid yellow;
   padding: 10px;
   margin-top: 11px;
}

div.figure_box {
	margin: 15px auto;
}

@media screen and (max-width: 800px) {
   h1.select_game {
      font-size: 25px;
   }
   span.game_matching {
      font-size: 1.2rem;
   }
}

@media screen and (max-width: 1024px) {
   h1.select_game {
      font-size: 25px;
   }
   span.game_matching {
      font-size: 1.2rem;
   }
}

body {
   /*  background-color: rgba(9,9,52,0.7); */
    font-size: 2rem; 
	margin: 0;
	padding: 0;
	background-image: url("../resources/99. img/back3.jpg");
	background-size: cover;
	
}



div {
   display: block;
}

div.game_box {
   text-align: center;
}

h3 {
   display: block;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   margin: 0.67em 0;
   color: rgba(31, 209, 69);
}

h2 {
   color: #eee;
}

tr>td {
   color: #eee;
}

/* ul {
    display: block; */

/* 마커 */
/* http://webberstudy.com/html-css/css-1/list-style/ */
/* https://www.codingfactory.net/10537 */

/* list-style-type: disc;
    margin-block-start : 1em;
    margin-block-end : 1em;
    margin-inline-start : 0px;
    margin-inline-end : 0px;
    padding-inline-start : 0px;
} */

/* li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: -webkit-match-parent;
}

li.game:not(:last-child) {
    margin: 0 2vw 0 0;
}

li.game {
    width: 10vw;
    max-width: 200px;
    min-width: 84px;
}

li.game1 {
    position : relative;
} */
.game_matching {
   line-height: 2.5;
   font-size: 1.3vw;
}

h1.select_game {
   width: 100%;
   /* 굵기 가중치 */
   /* https://aboooks.tistory.com/139 */
   /* unset :  */
   font-weight: bold;
}
.bnt-
h1.select_game ul {
   padding: 0px;
}

div.container {
   text-align: center;
   background: rgba(31,209,69,0.35);
   padding: 25px 15px;
}

div.outcontainer {
   display: flex;
   /* https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=htmlstory&logNo=80192584519 */
   /* https://ipex.tistory.com/entry/CSS3-flex-Box-justifycontent-alignitems */
   /* 가운데 정렬 */
   -webkit-box-pack: center;
   /* 가로축 - 중심축 */
   justify-content: center;
   /* 세로축 - 교차축 */
   align-items: center;
   -webkit-box-orient : vertical;
   /* 박스의 흐름 */
   -webkit-box-direction: normal;
   /* 가로 배열 */
   flex-direction: column;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background: rgba(9,9,52,0.35);
   width: 100%;
   height: 100%;

}

div.game_box {
   -webkit-box-direction: normal;
}

div.game_pic {
   width: 10vw;
   height: 10vw;
   max-height: 200px;
   max-width: 200px;
   min-height: 84px;
   min-width: 84px;
   box-sizing: border-box;
   position: relative;
   text-decoration: none;
   /* 이미지 반복여부 */
   /* https://www.codingfactory.net/10571 */
   background-repeat: no-repeat;
   background-color: white;
   background-size: cover;
   border-radius: 4px;
   border: none;
}

h1.select_game, ul.choose_game {
   opacity: 1;
   transition: opacity .4s ease-out;
}

.btn {
	text-decoration : none;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	font-size: 1.3rem;
}

.btn:hover {
	transition: all 0.2s ease 0s;
    background-color: rgba(9,9,52);
    border-radius: 5px;
}

.btn:hover {
   border: .3em solid transparent;
}

table {
   width: 100%;
   /* border-collapse:collapse; 바깥선 */
   line-height: 1.1;
}

table td {
   width: 5%;
   width: 17%;
   color: #fff;
   padding: 0.5em 0.5em;
   border-bottom: 1px solid #444444;
    border-collapse: collapse;
}

tbody {
   width: 1024px;
}

tbody tr {
   border: 1px solid yellow;
   border-bottom: 1px solid #444444;
    border-collapse: collapse;
}

.btn-img{
   display: block;
   padding: 0px;
   top: 90px;
   height: auto;
   max-width: auto;
   overflow-y: hidden;
   overflow-x:auto;
   width: 225px;
   float: right;
   text-align: center;
   display: block;
   margin: 10px;
}

.wait{
   text-align:center;
}

.game_box2{
   text-align:center;
   align-items: center;
   justify-content: center;
   font-size: large;
}
.btnbtn-smbtn-primary{
	color:#Eee
}
.check{
	width : 100px;
	height : 100px;
	color: white;
	font-color : black;
}
.coloring{
	color :white;
}
a{
	color:#eee;
}
.btn btn-sm btn-primary{
	color:#eee;
}
.white1{
	color:#eee;
	margin: 0 10px 0 10px;
    display: inline;
}