@charset "EUC-KR";

@font-face {
    font-family: 'twayfly';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayfly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
	font-family: 'twayfly';
/* 	margin: 0 auto;
	padding: 0; */
}


div.back {
	background: rgba(0,0,0);
}

.color{
	color : white;
}

#result3{
	color : #eee;    
	margin-top: 10px;
	font-size: 1.5rem;
}
.div1{
	color: #eee;
}

.columns {
	text-align: center;
	margin: 0 auto;
}

.columns figure {
   display: inline-block;
   /* border: 1px solid rgba(0, 0, 0, 0.2); */
   margin: 3px auto;
   padding: 10px;
   /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

.columns figure img {
   float: left;
   border: 2px solid #000;
   width: 200px;
}

.columns figure figcaption {
   color: rgba(31, 209, 69);
   border-top: 2px solid yellow;
   padding: 10px;
   margin-top: 11px;
   font-size: 1.5rem;
}

div.figure_box {
	margin: 15px auto;
}

@media screen and (max-width: 800px) {
   h1.select_game {
      font-size: 25px;
   }
   span.game_matching {
      font-size: 1.2rem;
   }
}

@media screen and (max-width: 1024px) {
   h1.select_game {
      font-size: 25px;
   }
   span.game_matching {
      font-size: 1.2rem;
   }
}

body {
   /*  background-color: rgba(9,9,52,0.7); */
    font-size: 2rem; 
	margin: 0;
	padding: 0;
	background-image: url("../resources/99. img/back3.jpg");
	background-size: cover;
	
}



div {
   display: block;
}

div.game_box {
   text-align: center;
}

h3 {
   display: block;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   margin: 0.67em 0;
   color: rgba(31, 209, 69);
}

h2 {
   color: #eee;
   font-size: 1.5rem;
   margin-top: 35px;
   margin-bottom: 3px;
}

tr>td {
   color: #eee;
}



.game_matching {
   line-height: 2.5;
   font-size: 1.3vw;
}

h1.select_game {
   width: 100%;
   font-weight: bold;
}

.bnt-
h1.select_game ul {
   padding: 0px;
}

div.container {
   text-align: center;
   background: rgba(31,209,69,0.35);
   padding: 35px 17px;
   width: 50%;
   margin: 0 auto;
   border-radius: 30px;
}

div.outcontainer {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background: rgba(9,9,52,0.35);
   min-width: 1024px;
   min-height: auto;
   width: 100%;
   height: 100%;

}

div.game_box {
   -webkit-box-direction: normal;
}

div.game_pic {
   width: 10vw;
   height: 10vw;
   max-height: 200px;
   max-width: 200px;
   min-height: 84px;
   min-width: 84px;
   box-sizing: border-box;
   position: relative;
   text-decoration: none;
   /* 이미지 반복여부 */
   /* https://www.codingfactory.net/10571 */
   background-repeat: no-repeat;
   background-color: white;
   background-size: cover;
   border-radius: 4px;
   border: none;
}

h1.select_game, ul.choose_game {
   opacity: 1;
   transition: opacity .4s ease-out;
}

.btn {
	text-decoration : none;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	font-size: 1.3rem;
}

.btn:hover {
	transition: all 0.2s ease 0s;
    background-color: rgba(9,9,52);
    border-radius: 5px;
}

.btn:hover {
   border: .3em solid transparent;
}

table {
   width: 100%;
   /* border-collapse:collapse; 바깥선 */
   line-height: 1.1;
   /* margin-top: 55px; */
}

table td {
   width: 5%;
   width: 17%;
   color: #fff;
   padding: 0.5em 0.5em;
   border-bottom: 1px solid #444444;
   border-collapse: collapse;
   font-size: 17px;
}

tbody {
   width: 100%;
   line-height: 1.1
}

tbody tr {
   border: 1px solid yellow;
   border-bottom: 1px solid #444444;
    border-collapse: collapse;
}

.btn-img{
   display: block;
   padding: 0px;
   top: 90px;
   height: auto;
   max-width: auto;
   overflow-y: hidden;
   overflow-x:auto;
   width: 225px;
   float: right;
   text-align: center;
   display: block;
   margin: 10px;
}

.wait{
   text-align:center;
}

.game_box2{
   text-align:center;
   align-items: center;
   justify-content: center;
   font-size: large;
}
.btnbtn-smbtn-primary{
	color:#Eee
}
.check{
	width : 100px;
	height : 100px;
	color: white;
	font-color : black;
}
.coloring{
	color :white;
	font-size: 1.5rem;
	margin-bottom: 8px;
}
a{
	color:#eee;
}
.btn btn-sm btn-primary{
	color:#eee;
}
.white1{
	color:#eee;
	margin: 0 10px 0 10px;
    display: inline;
}

input[type="submit"] {
    outline: none;
    background: none;
    color: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 17px;
}

input[type="submit"]:hover {
	cursor : pointer;
	transition: all 0.2s ease 0s;
    background-color: rgba(9,9,52);
}