@charset "EUC-KR";

body{
	background-color: rgba(9,9,52);
}

.p{
	width : 100px;
	height : 100px;
	background-color : black;
	margin-right : 10px;
}
.a{
	display : block;
	font-size: 25px;
	text-decoration: none;
	text-align : center;
	height : 100px;
	width: 340px;
	margin-right: 20px;
	color: #eee;
}
.b{
	width : 340px;
	margin-right: 20px;
	height: 215px;
}
.atag{
	display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
	
}
/* .img{
	width : 340px;
	height: 215px;
}
.img1{
	width: 50%;
	margin-right: 20%;
	height:auto;
} */

.img1 img{
	width: 610px;
    height: 589px;
}

h2{
	color:rgba(31,209,69);
	font-size :40px;
	text-align:center;

}
h3{
	font-size:30px;
	color:rgba(31,209,69);
	text-align:center;
}
.h5{
	font-size:25px;
	/* width:30%; */
	height: 7%;
	font-weight:bold;
	color:rgba(31,209,69);
}
.h6{
	font-size:20px;
	/* width:50%; */
	height:auto;
	color:#eee;
}
.h7{
	font-size:20px;
	/* width:50%; */
	height:100px;
	color:#eee;
}
.h8{
	font-size:20px;
	/* width:50%; */
	height:100px;
	color:#eee;
}
.h9{
	font-size:20px;
	height:40px;
	/* width:50%; */
	height:auto;
	color:#eee;
}
.both{
	display: flex;
	width: 1500px;
	height: 600px;
}
.left{
	width: 58%;
	margin-right: 20px;
}
#guide{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
}

