@charset "EUC-KR";

body{
	width: 1480px;
	margin: 0 auto;
	background-color:rgba(9,9,52);
}
.team_name{
	height: 100px;
	width: 300px;
	align: center;
}
.table1{
	height: 300px;
	width:200px;

}
div#header{
    padding-top: 50px;
    min-width: 220px;
    margin: 0 300px;
    box-sizing: border-box;
    text-align: center;
    width: max-content;
}
.logo{
	display : flex;
	height:80px;
	width:100px;
}
.name{
	display: flex;
    color: #Eee;
    position: absolute;
    left: 37%;
    font-size: xx-large;
    top: 110px;
    text-align: center;	
}
.table1{
	width: 680px;
	height: 450px;
}
h4{
	width:680px;
	height: auto;
	color: #eee;

}
.info{
	width: 665px;
	height:125px;
	color: #eee;
}
tr td{
	color:#eee;
	/* border-bottom: 1px solid #ddd; */
	text-align: center;
	border: solid 1px;
}
a{
	color:#eee;
}
