@charset "EUC-KR";

body{
	background-color:rgba(9,9,52);
}
.newthang {
	height: 50px;
	background-color: rgb(3, 3, 30);
}
.h1{
	text-align : center;
}
.img{
	width: 120px;
	height: 120px;
	border-radius: 75%;
	/* margin-top: 26px; */
	float: left;
}
.h2 {
	color: #eee;
	font-family: Arial Black;
	line-height: 50px;
	margin-top: 0px;
	background-color:rgba(9,9,52);
	color:rgba(31,209,69)
}


.profile1 {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}


.tjfaud {
	padding-left: 10px;
	font-size : 30px;
	width: 85%;
	float: left;
	color:#eee;
}

#name {
	font-size: 30px;
	margin: 0 0 0px 0;
	display: inline;
	color:#eee;
	font-weight: bold;
}
.span{
	font-size: 30px;
	display: inline;
}
.text-center1 {
	text-align: center;
	font-weight: bold;
	background-color: red;
	color: #eee;
	height: 30px;
	line-height: 30px;
	width: 48%;
	 margin-left: 64px;
	/* justify-content: right; */
	/* align-items: inherit; */
}

.text-center2 {
	text-align: center;
	width: 48%;
	font-weight: bold;
	background-color: green;
	color: #eee;
	height: 30px;
	line-height: 30px;
	margin-left: 64px;
}

.text-center3 {
	text-align: center;
	width: 48%;
	font-weight: bold;
	background-color: blue;
	color: #eee;
	height: 30px;
	line-height: 30px;
	margin-left: 64px;
}
.member p{
	margin-left: 2px;
}
.content{
	font-size: 26px;
	margin: 20 0 22px 7;
	/* float: left; */
	color: black;
	background-color:ivory;
	padding: 35px;
}

profile2 p {
	margin : 150px;
}

.ahrfhr {
	text-align:right;
}

.profile2 {
	justify-content:right;
	text-align : right;
	float: left;
}
.member p{
	margin-left: 10px;
}
h2{
	color:#eee;
}
.member{
	color:#eee;
	margin:6px;
}
span{
	font-size: 30px;
}
.ahrfhr{
    padding:0px;
}
div span{
	font-size:15px;}
	
h2{
	border-width: unset;
}